body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.captcha-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    box-shadow: #000000;
}

h2 {
    color: #333;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.captcha {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ececec;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 3px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9C27B0;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
